.btn{
    display: flex;
    justify-content: center;

}
.img{
    opacity: 1;
    transition: 1s;
}
#img{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
   
}
#green{
background-color: green;
height: 100px;
width: 100px;
}
#red{
background-color: red;
height: 100px;
width: 100px;
}
#black{
background-color: black;
height: 100px;
width: 100px;
}
.hidden {
    opacity:0;
    visibility: hidden;
    transition: 1s;
  }